.idea
.venv/
__pycache__/
*.py[cod]
*.log
*.tmp
*.part
.env
.env.*
runtime/
MODLOADER_CACHE_PATH/
TestScriptMod/
.creator-update-*/
*.previous-*
venv
build
dist
/Mods/*
!/Mods/.gitkeep
/Mods Sources/*
!/Mods Sources/.gitkeep

ui/ui_handler/__pycache__
ui/ui_sources/__pycache__
ui/utils/__pycache__
